.Container {
    width:70%;
    margin: auto;
    text-align: center;

}

.Dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #323e46;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie FLower', cursive;
}

img {
    width: 80%
}

footer{
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.btn {
        height:40px;
        width:200px;
        font-size: 20px;
        background-color: aqua;
    }
